{% extends "base.html" %}
{% block content %}
<style type="text/css">
.user-define {
    margin: auto;
    padding: 10px 0 0 0;
}
</style>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="goods">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>管理<small>创建酒品</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- ./row -->
      <div class="row">
        <div class="col-md-6">
          <!-- split buttons box -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">帮选菜单</h3>
            </div>
            <div class="box-body">
              <p>酒品名称:</p>
              <div class="margin">
                  <input id="good_name" class="form-control" placeholder="标题">
              </div>
              {% for attr in attrs -%}
              <p>{{attr.name}}:</p>
              <div class="margin">
                <div class="btn-group" attr-single="{{attr.single}}">
                {% for opt in attr.opts -%}
                <button type="button" @click="onUserSelect" attr-opt-id="{{attr.id}}.{{opt.id}}" attr-opt-selected=0 class="btn btn-flag btn-default margin">{{opt.value}}</button>
                {% endfor -%}
                <div class="col-xs-4 user-define">
                    <input attr-define-id="{{attr.id}}" class="form-control" placeholder="自定义" @input="onUserDefine($event)">
                </div>
                </div>
              </div>
              {% endfor -%}
              <p>酒品简介:</p>
              <div class="margin">
                  <textarea id="good_info" class="form-control" rows="10" placeholder=""></textarea>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="modal-footer">
                <input  type="hidden" id="modify_good_id"/>
                <button type="button" id="create_submit_btn" class="btn btn-primary" data-loading-text="提交中...">确认</button>
            </div>
          </div>
          <!-- end split buttons box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /. row -->
    </section>
    <!-- /.content -->
  </div>
  <script>
      var app = new Vue({
          delimiters: ['{[', ']}'],
          el: '#goods',
          data: {
          },
          methods: {
              onUserDefine: function  (event) {
                  // 如果是唯一排他，需要清除其他选项
                  if (event.srcElement.parentElement.parentElement.attributes['attr-single'].value == 1) {
                      var chd = event.srcElement.parentElement.parentElement.children;
                      for (i=0; i<chd.length; i++) {
                          if (chd[i].hasAttribute('attr-opt-selected')) {
                              chd[i].classList.remove("btn-warning");
                              chd[i].classList.add("btn-default");
                              chd[i].attributes['attr-opt-selected'].value = 0;
                          }
                      }
                  }
              },
              onUserSelect: function (event) {
                  var chd = event.srcElement.parentElement.children;
                  var sel = event.srcElement.attributes['attr-opt-selected'].value;
                  if (event.srcElement.parentElement.attributes['attr-single'].value == 1) {
                      for (i=0; i<chd.length; i++) {
                          if (chd[i].hasAttribute('attr-opt-selected')) {
                              chd[i].classList.remove("btn-warning");
                              chd[i].classList.add("btn-default");
                              chd[i].attributes['attr-opt-selected'].value = 0;
                          }
                          // 唯一属性时，需要排除自定义
                          if (chd[i].children.length != 0 && chd[i].children[0].hasAttribute('attr-define-id')) {
                              chd[i].children[0].value = "";
                          }
                      }
                      if (sel == 1) {
                          event.srcElement.classList.remove("btn-warning");
                          event.srcElement.classList.add("btn-default");
                          event.srcElement.attributes['attr-opt-selected'].value = 0;
                      }
                      else {
                          event.srcElement.classList.add("btn-warning");
                          event.srcElement.classList.remove("btn-default");
                          event.srcElement.attributes['attr-opt-selected'].value = 1;
                      }

                  }
                  else {
                      if (event.srcElement.attributes['attr-opt-selected'].value == 1) {
                          event.srcElement.classList.remove("btn-warning");
                          event.srcElement.classList.add("btn-default");
                          event.srcElement.attributes['attr-opt-selected'].value = 0;
                      }
                      else {
                          event.srcElement.classList.add("btn-warning");
                          event.srcElement.classList.remove("btn-default");
                          event.srcElement.attributes['attr-opt-selected'].value = 1;
                      }
                  }
              },
          },
      })

      $("#create_submit_btn").click(function(){
          var post_data = {};
          post_data['name'] = $('#good_name').val();
          post_data['info'] = $('#good_info').val();
          post_data['opts'] = [];
          post_data['defs'] = [];

          // 选择属性
          var bts = $('#goods [attr-opt-id]');
          var selected = {}
          for (i=0; i<bts.length; i++) {
              var optid = bts[i].attributes['attr-opt-id'].value.split(".");
              if (! selected[parseInt(optid[0])]) {
                  selected[parseInt(optid[0])] = [];
              }
              if (bts[i].attributes['attr-opt-selected'].value == 1) {
                  selected[parseInt(optid[0])].push(parseInt(optid[1]));
              }
          }
          // 自定义属性
          var inps = $('#goods [attr-define-id]');
          var defined = {}
          for (i=0; i<inps.length; i++) {
              var value = $.trim(inps[i].value)
              if (value != "") {
                  var optid = inps[i].attributes['attr-define-id'].value;
                  defined[parseInt(optid)] = value;
              }
          }

          post_data['opts'] = selected;
          post_data['defs'] = defined;
          // console.log(post_data);

          if (post_data['name'].length == 0) {
              alert("酒品名称为空");
              return;
          }

          $.ajax({
              url: '/admin/goods/create',
              async: true,
              dataType: 'json',
              contentType: 'application/json',
              type: 'POST',
              data: JSON.stringify(post_data),
              success: function(data , textStatus){
                  window.location.href="/admin/goods";
                  console.log("success");
              },
              error: function(jqXHR , textStatus , errorThrown){
                  console.log("error");
              },
          });
      });
  </script>
  {% endblock %}
